{% extends 'base.html' %}

{% block title %} Внести {% endblock %}


{% block body %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Внести расходы</h1>
    </div>
    <form method="post">
        <input type="text" name="product" id="product" class="form-control" placeholder="Продукт"><br>
        <input type="number" name="price" id="price" class="form-control" placeholder="Цена"><br>
        <input type="submit" class="btn btn-success" value="сохранить">
        
    </form>
{% endblock %}